<div id="model">
    <div id="modelcontainer">
        <div style="position: absolute;top: -25px;color: blue;">
            <span>数据模型列表</span>
        </div>
        <div class="right">
            <div class="rightheader">
                <input nz-input placeholder="请输入模型名称" [(ngModel)]="searchmodelname" style="margin-right: 10px;border-radius: 4px;"/>
            <button nz-button nzType="primary" style="margin-right: 10px;" (click)='search()'>搜索</button>
            <button nz-button nzType="primary" (click)='addmodel()'>添加模型</button>
            </div>
            <nz-table #basicTable [nzData]="listOfData">
                <thead>
                  <tr>
                    <th>模型名称</th>
                    <th>模型属组</th>
                 
                    <th>操作</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of basicTable.data">
                    <td>{{ data.model_name }}</td>
                    <td>{{modelgroupname}}</td>
                    <td>
                        <button (click)='editmodel(data)' style="height: 30px;line-height: 30px;background-color: #1890ff;border: none;color: #fff;width: 60;margin-right: 10px;">编辑</button>
                        <button (click)='removemodel(data)' style="height: 30px;line-height: 30px;background-color: #1890ff;border: none;color: #fff;width: 60;margin-right: 10px;">移动</button>
                        <button (click)='getAttr(data)' style="height: 30px;line-height: 30px;background-color: #1890ff;border: none;color: #fff;width: 60;margin-right: 10px;">属性</button>
                        <button (click)='delmodel(data)' style="height: 30px;line-height: 30px;background-color: #ff4d4f;border: none;color: #fff;width: 60;">删除</button>

                    </td>
                  </tr>
                </tbody>
              </nz-table>
        </div>
          <!-- 添加，编辑设备 -->
        <div class='adddevice' *ngIf="addmodelflag==true" (click)='cancleaddmodel()'></div>
        <div class="adddevicecon" *ngIf="addmodelflag==true">
            <div class='adddeviceheader'>
                <div class='addheader'>
                    <h2>{{modelflag}}<span style="float: right;cursor: pointer;" (click)='cancleaddmodel()'>×</span></h2>  
                </div>
                <div class='adddevicebody'>
                    <div style="margin-bottom: 15px;">
                        <span>模型名称：</span>
                        <input type="text" [(ngModel)]="modelname">
                        <br>
                        <span style="font-size: 12px;color: red;margin-left: 62px;" *ngIf="!service.reg(modelname)">*必须以中文或者英文开头且不能有空格的字符串</span>
                        <span style="font-size: 12px;color: green;margin-left: 62px;" *ngIf="service.reg(modelname)">√模型名称正确</span>
                    </div> 
                   
                    <div style="padding: 0 62px;">
                        <button nz-button nzType="primary" style="float: left;width: 100px;" (click)='sureaddmodel()'>确定</button>
                     <button nz-button nzType="danger" style="float: right;width: 100px;" (click)='cancleaddmodel()'>取消</button>
                
                    </div>

                    
                </div>
            </div>
        </div>
         <!-- 删除分组，删除设备 -->
         <div class="del" *ngIf="delflag==true" (click)='hiddendel()'></div>
         <div class="delcon" *ngIf="delflag==true">
             <div class="addheader">
                 <h2>是否确认删除<span style="float: right;cursor:pointer;" (click)='hiddendel()'>×</span></h2>  
             </div>
             <div class='addbody'>
                 <div style="padding: 0 62px;">
                     <button nz-button nzType="primary" style="float: left;" (click)='delsure()'>确定</button>
                     <button nz-button nzType="danger" style="float: right;" (click)='hiddendel()'>取消</button>
                 </div>
                
             </div>
         </div>
         <!-- 移动 -->
         <div class="removedevice" *ngIf="removeflag==true" (click)='cancleremovedevice()'></div>
         <div class="hiddentree" *ngIf="treeflag==true" (click)='hiddentree()'></div>
         <div class="removedevicecon" *ngIf="removeflag==true">
            <div class='addheader'>
                <h2>移动模型<span style="float: right;cursor: pointer;" (click)='cancleremovedevice()'>×</span></h2>  
            </div>
            <div class='adddevicebody'>
               
                <div style="margin-bottom: 15px;position: relative;" >
                    <span>模&nbsp;&nbsp;型&nbsp;&nbsp;选&nbsp;&nbsp;择&nbsp;：</span>
                    <input type="text" (click)='tree()' style="z-index: 5;" [(ngModel)]="treetitle">
                    <nz-tree *ngIf="treeflag==true" style="position: absolute;z-index: 10;width: 242px;height:90px;overflow-y:scroll;left: 97px;box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);" [nzData]="nodes"  nzAsyncData (nzClick)="nzEvent($event)" (nzExpandChange)="nzEvent($event)" [nzTreeTemplate]="nzTreeTemplate"> </nz-tree>
        <ng-template #nzTreeTemplate let-node let-origin="origin" >
            <span class="custom-node">
              <span *ngIf="!node.isLeaf" (click)='getDeviceGroup(node)'>
                <span class="folder-name" >{{ node.title }}</span>
              </span>
            </span>
          </ng-template>
                </div> 
                
                <div style="padding: 0 62px;">
                    <button nz-button nzType="primary" style="float: left;width: 100px;" (click)='sureremovedevice()'>确定</button>
                    <button nz-button nzType="danger" style="float: right;width: 100px;" (click)='cancleremovedevice()'>取消</button>
                </div>
            </div>
         </div>
         
    </div>
</div>
