<app-login *ngIf="service.loginflag==false"></app-login>
<div id="box" *ngIf="service.loginflag==true">
  <div id="container">
    <div class="header">

    </div>
    <div class="conbody">
      <div class="left" id='left' [ngStyle]="{'width': scaleFlag==false?'224px':'0px'}">
        <div style="border-bottom: 1px solid rgba(0, 0, 0, 0.2); height: 80px">
          <p style="font-size: 16px; margin-left: 24px; line-height: 80px">
            物联网平台
          </p>
        </div>
        <app-modelgroup
          (addModelGroup)="addModelGroup($event)"
          [addflag]="addflag"
          (delModelGroup)="delModelGroup($event)"
          [delflag]="delflag"
          [(issure)]="issure"
         
        ></app-modelgroup>
      </div>
      <div class='scale' (click)='scale()' [ngStyle]="{'left':scaleFlag==false?'196px':'5px' }">
        <i *ngIf="scaleFlag==true" nz-icon nzType="caret-right" nzTheme="outline" style="font-size: 14px;margin-top: 33px;margin-left: 0px;"></i>
        <i *ngIf="scaleFlag==false" nz-icon nzType="caret-left" nzTheme="outline" style="font-size: 14px;margin-top: 33px;margin-left: 0px;"></i>
      </div>
      <div class="right" id='right'>
        <!-- <span style="position: absolute; top: -20px; left: 5px">模型-设备</span> -->
        <router-outlet></router-outlet>
        <!-- 添加，编辑分组 -->
        <div class="add" *ngIf="addflag == true" (click)="hiddenadd()"></div>
        <div class="addcon" *ngIf="addflag == true">
          <div class="addheader">
            <h2>
              {{ flag
              }}<span
                style="float: right; cursor: pointer"
                (click)="hiddenadd()"
                >×</span
              >
            </h2>
          </div>
          <div class="addbody">
            <div style="margin-bottom: 30px">
              <span>组名称：</span>
              <input type="text" [(ngModel)]="groupname" />
              <br>
              <span style="font-size: 12px;color: red;margin-left: 50px;" *ngIf="!service.reg(groupname)">*不能以数字、符号开头且不能有空格的字符串</span>
              <span style="font-size: 12px;color: green;margin-left: 50px;" *ngIf="service.reg(groupname)">√正确</span>
            </div>
            <div style="padding: 0 62px">
              <button
                nz-button
                nzType="primary"
                style="float: left"
                (click)="sure()"
              >
                确定
              </button>
              <button
                nz-button
                nzType="danger"
                style="float: right"
                (click)="hiddenadd()"
              >
                取消
              </button>
            </div>
          </div>
        </div>
        <!-- 删除分组，删除设备 -->
        <div class="del" *ngIf="delflag == true" (click)="hiddendel()"></div>
        <div class="delcon" *ngIf="delflag == true">
          <div class="addheader">
            <h2>
              是否确认删除<span
                style="float: right; cursor: pointer"
                (click)="hiddendel()"
                >×</span>
            </h2>
          </div>
          <div class="addbody">
            <div style="padding: 0 62px">
              <button
                nz-button
                nzType="primary"
                style="float: left"
                (click)="delsure()"
              >
                确定
              </button>
              <button
                nz-button
                nzType="danger"
                style="float: right"
                (click)="hiddendel()"
              >
                取消
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
